* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

body {
	font-family: "Roboto Mono", monospace;
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-template-rows: auto 1fr 50px;
	height: 100vh;
	background-image: url("../images/background.jpg");
}

header {
	border-bottom: 2px solid black;
	grid-area: header;
	position: sticky;
	top: 0;
}
header > h1 {
	padding: 25px;
	background: #42404065;
	color: rgba(255, 255, 255, 1);
}

main {
	grid-area: content;
}

ul {
	list-style: none;
	padding: 12px;
	list-style: none;
	padding: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
	grid-gap: 12px;
}

ul > li {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	padding: 24px;
	font-size: 2rem;
	background: #9c6d3d9e;
	border-radius: 12px;

	> div {
		color: #452b12;
	}
}

ul li:hover {
	background: rgba(128, 128, 128, 0.25);
}

ul > li > a {
	width: 100%;
	padding: 10px;
}

main > ul > li figure img {
	width: 124px;
	height: 124px;
	object-fit: contain;
	filter: drop-shadow(0 0 0.5rem black);
}

footer {
	background: #80808085;
	padding: 12px;
	font-size: 12px;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
}
