* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

body {
	font-family: "Roboto Mono", monospace;
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-template-rows: auto 1fr 75px;
	height: 100vh;
}

header {
	border-bottom: 2px solid black;
	grid-area: header;
}
header > h1 {
	padding: 25px;
	background: rgb(66 64 64);
	color: rgba(255, 255, 255, 1);
}

main {
	grid-area: content;
}

ul {
	list-style: none;
}

ul > li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
}

ul li:hover {
	background: rgba(128, 128, 128, 0.25);
}

ul > li > a {
	width: 100%;
	padding: 10px;
}

footer {
	background: rgba(128, 128, 128, 0.5);
	padding: 20px;
	font-size: 12px;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
}
