* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

body {
	font-family: "Roboto Mono", monospace;
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
	grid-template-rows: auto 1fr 50px;
	height: 100vh;
	background: #000;
}

header {
	border-bottom: 2px solid black;
	grid-area: header;
	position: sticky;
	top: 0;
}
header > h1 {
	padding: 25px;
	background: #42404065;
	color: rgba(255, 255, 255, 1);
}

main {
	grid-area: content;
}

ul {
	list-style: none;
	padding: 24px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
	grid-gap: 24px;
}

ul > li {
	font-size: 2rem;
	background: #94918e9e;
	border-radius: 12px;
	transition: all 0.5s ease-in-out;

	&:hover {
		background: rgba(128, 128, 128, 0.05);

		> a > div {
			color: #fff9;
		}
		img {
			transform: scale(1.1);
			filter: drop-shadow(0 0 0.5rem black);
		}
	}

	> a {
		padding: 24px;
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;

		> div {
			transition: all 1s ease-in-out;
			color: #0009;

			figure img {
				width: 124px;
				height: 124px;
				object-fit: contain;
				transition: all 0.5s ease-in-out;
			}
		}
	}
}

footer {
	background: #80808085;
	padding: 12px;
	font-size: 12px;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
}
